<configuration>

    <!-- Define the log file path -->
    <property name="LOG_PATH" value="logs" />
    <!-- Define log file name -->
    <property name="LOG_FILE" value="application-%d{yyyy-MM-dd}.log.gz" />

    <!-- Define an asynchronous appender -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
        <queueSize>10000</queueSize>  <!-- Tune queue size based on application load -->
        <discardingThreshold>0</discardingThreshold> <!-- Do not discard log messages -->
    </appender>

    <!-- Rolling file appender to rotate logs -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Rotate log files daily, and keep logs for 30 days -->
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}}</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- Keep 30 days of logs -->
            <totalSizeCap>3GB</totalSizeCap> <!-- Maximum total size of all archived logs -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [correlationId:%X{correlationId}]%n</pattern>
        </encoder>
        <filter class="biz.craftline.server.infrastructure.filter.NoStackTraceFilter" />
    </appender>

    <!-- Root logger setup with async appender -->
    <root level="INFO">
        <appender-ref ref="ASYNC" />
    </root>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
